a img {
    width: 85px;
    height: 47px;
    object-fit: contain;
    /* margin: 20px 0; */
}


@media screen and (min-width:375px) {
    a img {
        width: 145px;
        height: 47px;
    }
}


@media screen and (min-width:768px) {
    a img {
        width: 210px;
        height: 68px;
    }
}