.banner {
    height: 111px;
    position: relative;
}

.bannerBig {
    height: 223px;
    position: relative;
}

.banner::before,
.bannerBig::before {
    content: " ";
    position: absolute;
    background-color: var(--color-black);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.3;
    border-radius: 10px;
}

.banner img,
.bannerBig img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.banner p {
    position: absolute;
    font-weight: 500;
    font-size: 24px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--color-white);
    margin: 0;
    width: 100%;
    padding: 0 0 0 10px;
}


@media screen and (min-width:768px) {
    .banner {
        height: 223px;
    }

    .bannerBig {
        margin-bottom: 50px;
    }

    .banner::before,
    .bannerBig::before {
        border-radius: 25px;
    }

    .banner img,
    .bannerBig img {
        border-radius: 25px;
    }

    .banner p {
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 48px;
        text-align: center;
        padding: 0 0 0 0px;
    }
}